body {
  min-width: 500px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

input[type='text'] {
  font-size: 1.2rem;
  padding: 10px;
  font-weight: bold;
}

input[type='password'] {
  font-size: 1.2rem;
  padding: 10px;
  font-weight: bold;
}

button {
  background: #4286f4;
  color: #fff;
  border: none;
  padding: 20px 60px;
  cursor: pointer;
  margin: 30px 0px;
}
