* {
  list-style-type: none;
}

body {
  min-width: 500px;
  font-family: 'Nanum Gothic', sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
}

.room-item {
  padding: 20px;
  font-size: 1.1rem;
  cursor: pointer;
}

.friend-item {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.friend-item > img {
  cursor: pointer;
  padding: 10px;
  background-color: #4286f4;
}
